# 1) Python / Django ignores
__pycache__/
*.py[cod]
*.egg
*.egg-info/
build/
dist/
venv/
.env
db.sqlite3
*.log

# 2) Node / Frontend ignores (if you use React/Node later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 3) macOS / Windows junk
.DS_Store
Thumbs.db

# ML Specific
ml/model.pkl # To ignore your trained model file (for the trained model file)
ml/data/     # To ignore your raw data files (for the data folder)
# Ignore the entire models directory where trained models and encoders are saved.
ml/models/


# Python / Django
__pycache__/
*.py[cod]
db.sqlite3
*.log
.env
venv/
